<!DOCTYPE html>
    <link rel="stylesheet" href="../static/styles/demo.css">
    <body>
        <div class="background">
        <a href="/" class = "heading-link">
            <div class = "heading-div">
                <h1>Bayesian Optimization</h1>
            </div>
        </a>

        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

        <div class="title">Three Parameter Optimization
        </div>
        <div style="height:20px"></div>

        <div class="step">Step 1</div>
        <div class="instructions">Download an empty CSV file containing data headers</div>
        <div style="height:20px"></div>
        <image src = "../static/styles/singleParam.png" width="40%"></image>
        <div style = "height:30px"></div>
        <a class="link" href="../static/styles/single_param.csv">DOWNLOAD
        </a>

        <div style="height:70px"></div>
        <div class="step">Step 2</div>
        <div class="instructions">Enter your data into the csv</div>

        <div style="height:70px"></div>
        <div class="step">Step 3</div>
        <div class="instructions">Follow the link and upload the csv to run a single parameter optimization</div>
        <div style="height:20px"></div>
        <form action="/threeOptimization"><a class="link" href="/threeOptimization">Optimize
        </a></form>
        <div style="height:100px"></div>
    </body>
</html>