
.heading-div {
	height: 50px;
	box-sizing: border-box;
}

.heading-span{
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
}

.heading-link{
	text-decoration: none;
}
  .heading-div h1 {
	font-size: 40px;
	text-align: center;
	align-items: center;
	color: white;
	margin: 10px 0 0 30px;
	font-weight: 700px;
  font-family: "ff-meta-serif-web-pro", serif;
  font-smooth: auto;
}
  
  body,html {
	height:100%;
	margin:0;
	padding:0;
}
  .container {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}

html{
  margin: 0;
  width: 100%;
  height: auto;
  background: url(../styles/wallpaper.png);
  background-size: 200%;
  text-align:center;
}

.title{
  font-smooth: auto;
  padding-top:80px;
  font-family: "ff-meta-serif-web-pro", serif;
  color: rgba(255,255,255,0.65);
  font-size:40px
}

.step{
  font-smooth: auto;
  font-family: "ff-meta-serif-web-pro", serif;
  font-weight:700;
  color:#fff;
  font-size:22px;
  opacity:0.8
}
.link {
  text-decoration:none;
  color:#fff;
  font-family: "ff-meta-serif-web-pro", serif;
  font-size:13px;
  opacity:0.8;
  margin-right:auto;
  margin-left:auto;
  padding:10px 20px;
  border:2px solid #fff;
  border-radius:100px;
}

.link:hover{
  opacity:1;
  }
  
.instructions{
  font-smooth: auto;
  font-family: "ff-meta-serif-web-pro", serif;
  font-weight:650;
  color:rgba(255,255,255,0.65);
  font-size:16px;
}
